<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
	<parameter name="url" value="https://www.google.com.ua/" />
	<test name="Authorization Test">
		<classes>
			<class name="com.google.gmail.GMailAuthorizationTest">
				<methods>
					<include name="login">
						<parameter name="login" value="anry.chushkin@gmail.com" />
						<parameter name="password" value="128333333" />
						<parameter name="nickname" value="Андрей" />
					</include>
					<include name="logOut">
						<parameter name="login" value="anry.chushkin@gmail.com" />
						<parameter name="password" value="128333333" />
						<parameter name="nickname" value="Андрей" />
					</include>
				</methods>
			</class>
			<class name="com.google.gmail.SearchTest">
				<methods>
					<include name="search">
						<parameter name="value" value="java" />
						<parameter name="result" value="Java" />
					</include>
				</methods>
			</class>
		</classes>
	</test>
</suite>
